{% extends 'base.html' %}

{% block content %}
<div class="add_recipe_header">
    <img src="{{url_for('static', filename='/img/newrecipe.png')}}" alt="">
</div>

<div class="row">
    <form class="col s12" action="#" method="post">
        <div class="col s6 recipe_form file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="recipe_img" id="recipe_img">
            </div>
            <div class="file-path-wrapper">
                <input type="text" class="file-path validate">
            </div>


        </div>


        <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
        </div>
        <div class="input-field col s6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
        </div>
        <div class="input-field col s6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
        </div>

        <button class="btn waves-effect waves-light col s12" type="submit" name="action">Create
        </button>
</div>
</form>

{% endblock content %}